.banner{
    height: 60vh;
    background-image: url(../images/about/aboutUsBanner.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    padding-top: 35vh;
}

.greyBackground{
    background-color: rgb(237, 236, 236);
}

.aboutImage{
    width: 87%;
}

.container{
    transform-style: preserve-3d;
}

.container .box{
    position: relative;
    width: 332px;
    height: 300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    /* cursor: pointer; */
}

.container .box .body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}



.container .box .body .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.container .box .body .imgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .body .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.container .box:hover .body{
    transform: rotateY(180deg);
}

.container .box .body .content div{
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #000000,#ffba3b);
    transform: translateZ(100px);
}

.container .box .body .content div h3{
    letter-spacing: 1px;
}